.bg {
    margin: 0;
    display: flex;
    /* flex-wrap: wrap; */
}

.section-1 {
    width: 50%;
    padding-right: 15px;
}

.section-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
}

.logo {
    display: flex;
}

.logo-name {
    font-family: 'DM Serif Text', serif;
    color: #274f73;
    margin: 0;
    margin-left: 10px;
    font-weight: lighter;
}

.description {
    font-family: 'Roboto Slab', serif;
    color: #274f73;
    font-size: 21px;
    font-weight: lighter;
}

.btn {
    cursor: pointer;
    border: transparent;
    border-radius: 30px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    outline: none;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    margin: 10px;
}

.btn--primary {
    background: #274F73;
}

.btn--light {
    color: #274F73;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn--outline {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #274F73;
    color: #274F73;
}


.btn:hover {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #274F73;
    color: #274F73;
}

.btn-container {
    display: flex;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 962px) {
    .section-2 {
        display: none;
    }

    .section-1{
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {
    .section-1 {
        padding: 0;

    }
    .btn {
        max-width: 100px;
    }
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .description {
        text-align: center;
    }
    .btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}